 @font-face {
    font-family: OpenSans-Bold; 
     src:url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Bold-webfont.eot') format('eot'),
		url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-BoldItalic; 
    src: url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-BoldItalic-webfont.eot') format('eot'),
		url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-ExtraBold; 
    src: url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-ExtraBold-webfont.eot') format('eot'),
		url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-ExtraBoldItalic; 
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot') format('eot'),
		url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-Italic; 
    src: url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Italic-webfont.eot') format('eot'),
		url('../fonts/OpenSans-Italic-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-Light; 
    src: url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Light-webfont.eot') format('eot'),
		url('../fonts/OpenSans-Light-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-LightItalic; 
    src: url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-LightItalic-webfont.eot') format('eot'),
		url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-Regular; 
    src: url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Regular-webfont.eot') format('eot'),
		url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-Semibold; 
    src: url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Semibold-webfont.eot') format('eot'),
		url('../fonts/OpenSans-Semibold-webfont.woff') format('woff');
}
 @font-face {
    font-family: OpenSans-SemiboldItalic; 
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-SemiboldItalic-webfont.eot') format('eot'),
		url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
}