/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { 
	border: none; 
}
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	overflow:hidden;
	cursor:pointer;
}
#lightbox-container-image { 
	padding: 0px; 
}
#lightbox-container-image img{ 
	
}
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	background-color: #00a9ba;
	margin: 0 auto;
	z-index:10;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding-top: 15px;
}
#lightbox-container-image-data {
	color: #666; 
	padding-left: 0px;
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { 
	padding: 0 0 0 25px;
	font-family: Opensans-Semibold;
	font-size: 15px;
	color: #fff;
	}
#lightbox-image-details-currentNumber {
	display: none; 
	clear: left; 
	padding-bottom: 1.0em;	
}
#lightbox-image-details-definition {
	display: none; 
	clear: left; 
	padding: 0 0 15px 25px;
	font-family: Opensans-Light;
	font-size: 15px;
	color: #fff; 
}
#lightbox-secNav {
	border: 1px solid #000;
	top: 0;
}
#lightbox-secNav-btnClose {
	width: 55px; 
	float: right;
	padding-bottom: 0.7em;	
	top: 0;
	}