/* * * Panels & Panel Colors * * */
.panel .panel-heading .tools{
  float:right;
}
.panel .panel-heading{
  font-size:16px;
}

/* Overview Panels */
.panel-overview {
  border-color: #2ec1cc;
}
.panel-overview > .panel-heading {
  color: white;
  background-color: #2ec1cc;
  border-color: #2ec1cc;
}
.panel-overview > .panel-heading > .tools {
  color:white;
}
.panel-overview > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #2ec1cc;
}

/* Accounts Panels */
.panel-accounts {
  border-color: #23ae89 !important;
}
.panel-accounts > .panel-heading {
  color: white;
  background-color: #23ae89;
  border-color: #23ae89;
  border-bottom:none;
}
.panel-accounts > .panel-heading .tools *{
  color:white;
}
.panel-accounts > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #23ae89;
}
.panel-accounts.light {
  border-color: #23ae89;
  color:inherit;
}
.panel-accounts.light > .panel-heading {
  color:inherit;
  background-color: #DCF1EB;
  border-color: #23ae89;
}
.panel-accounts > .panel-heading .tools *{
  color:inherit;
}
.panel-accounts.light > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #23ae89;
}

/* Calendar Panels */
.panel-calendar {
  border-color: #ffb61c;
}
.panel-calendar > .panel-heading {
  color: white;
  background-color: #ffb61c;
  border-color: #ffb61c;
}
.panel-calendar > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ffb61c;
}

/* Budget Panels */
.panel-budget {
  border-color: #f98e33;
}
.panel-budget > .panel-heading {
  color: white;
  background-color: #f98e33;
  border-color: #f98e33;
}
.panel-budget > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f98e33;
}

/* Planning Panels */
.panel.panel-planning {
  border-color: #E94B3B;
  margin-bottom:20px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.panel-planning > .panel-heading {
  background-color: #E94B3B;
  border-color: #E94B3B;
  font-weight: 600;
  height:42px;
}
.panel-planning > .panel-heading.light {
  background-color: white;
  border-color: #E94B3B;
  font-weight: 600;
  height:42px;
}
.panel-planning > .panel-heading a span{
  font-weight:bold;
  border:solid 1px transparent;
  border-radius: 100%;
  display:inline-block;
  height:24px;
  width:24px;
  line-height:24px;
  text-align:center;
}
.panel-planning > .panel-heading a span.active{
  font-weight:bold;
  background: #B53B2D;
  color:white;
}

.panel-planning > .panel-heading.open {
  background-color: #FAE6E3;
  color:black;
}
.panel-planning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #e94b3b;
}
.panel-planning > .panel-body{
  display:none;
}
.panel-planning.light {
  border-color: #23ae89;
  color:inherit;
}
.panel-planning.light > .panel-heading {
  color:inherit;
  background-color: #DCF1EB;
  border-color: #23ae89;
}
.panel-planning > .panel-heading .tools *{
  color:inherit;
}
.panel-planning.light > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #23ae89;
}

/* Contacts Panels */
.panel-contacts {
  border-color: #449dd5;
}
.panel-contacts > .panel-heading {
  color: white;
  background-color: #449dd5;
  border-color: #449dd5;
}
.panel-contacts > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #449dd5;
}

/* Reports Panels */
.panel-reports {
  border-color: #1c7ebb;
}
.panel-reports > .panel-heading {
  color: white;
  background-color: #1c7ebb;
  border-color: #1c7ebb;
}
.panel-reports > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #1c7ebb;
}

/* Settings Panels */
.panel-settings {
  border-color: #6a55c2;
}
.panel-settings > .panel-heading {
  color: white;
  background-color: #6a55c2;
  border-color: #6a55c2;
}
.panel-settings > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #6a55c2;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #1c7ebb;
}

.panel-success {
  border-color: #ddf7eb;
}
.panel-success > .panel-heading {
  color: #229173;
  background-color: #f2fcf9;
  border-color: #ddf7eb;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddf7eb;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddf7eb;
}

.panel-info {
  border-color: #d0f2f7;
}
.panel-info > .panel-heading {
  color: #26929c;
  background-color: #eef8fc;
  border-color: #d0f2f7;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d0f2f7;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d0f2f7;
}

.panel-warning {
  border-color: #ffebd7;
}
.panel-warning > .panel-heading {
  color: #af7f18;
  background-color: floralwhite;
  border-color: #ffebd7;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ffebd7;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ffebd7;
}

.panel-danger {
  border-color: #fad7db;
}
.panel-danger > .panel-heading {
  color: #b13d31;
  background-color: #fdefee;
  border-color: #fad7db;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #fad7db;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #fad7db;
}




/* * * Panels Basics * * */
.panel {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}
.panel-body:before, .panel-body:after {
  content: " ";
  display: table;
}
.panel-body:after {
  clear: both;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #fafafa;
  border-top: 1px solid #e9e9e9;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}

.panel > .table,
.panel > .table-responsive > .table {
  margin-bottom: 0;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 1px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 1px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 1px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 1px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #dddddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}

.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 2px;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #e9e9e9;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #e9e9e9;
}

.panel-default {
  border-color: #E4E4E4;

  /* border-color: #e9e9e9; */
}
.panel-default > .panel-heading {
  color: #555555;
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}
div.panel-heading.budget-bar {
  color:white;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #e9e9e9;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #e9e9e9;
}

.panel-primary {
  border-color: #1c7ebb;
}
.panel-primary > .panel-heading {
  color: white;
  background-color: #1c7ebb;
  border-color: #1c7ebb;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #1c7ebb;
}
