panel-pivot .panel-heading{
  position:relative;
  padding-left:40px;
}

panel-pivot .panel-body{
  display:none;
}

panel-pivot .pivot-handle{
  cursor:pointer;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:40px;
  text-align:center;
  line-height:40px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

panel-pivot .pivot-handle:hover{
  background:rgba(0, 0, 0, 0.06);
}
panel-pivot .pivot-handle a{
  display:inline-block;
}


/* When the pivot is open, flip the arrow over.
 * Only transition on transform property so that
 * the color animates with the text. The flip
 * needs to animate with the open/close of the
 * container. */
panel-pivot .pivot-handle i{
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transform-origin: 100% 19px; /* half of height, flips vertically */
  /* color: #767676; */
}
/* Animate the pivot with .open on the pivot handle */
panel-pivot .pivot-handle.open i{
  -moz-transform: rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
