<div id="header">
  <div class="container">
    <div id="logo">
      <a href="{{hrefTo 'home'}}" title="My Money Anywhere">My Money Anywhere</a>
      <span>money. smart.</span>
    </div>
    <nav id="menu">
      <ul class="sf-menu">
        <li><a href="{{hrefTo 'features'}}">Features</a></li>
        <li>
          <a href="javascript:void(0);">Works</a>
          <ul>
            <li><a href="gallery.htm">Gallery</a></li>
            <li><a href="team.htm">Happy team</a></li>
            <li><a href="javascript:void(0);">Pages</a>
              <ul>
                <li><a href="index.htm#painting">Painting</a></li>
                <li><a href="index.htm#future">Future</a></li>
                <li><a href="index.htm#gallery">Lightbox Slider</a></li>
              </ul>
            </li>
            <li><a href="gallery-single.htm">Single Portfolio</a></li>
            <li><a href="javascript:void(0);">Shortcodes</a>
              <ul>
                <li><a href="{{hrefTo 'typography'}}">Typography</a></li>
                <li><a href="{{hrefTo 'shortcodes'}}">Shortcodes element</a></li>
              </ul>
            </li>
            <li><a href="features.htm#video">Movie</a></li>
          </ul>
        </li>
        <li><a href="{{hrefTo 'about'}}">About Us</a></li>
        <li><a href="{{hrefTo 'pricing'}}">Pricing</a></li>
        <li><a href="{{hrefTo 'styles'}}">Styles</a></li>
        <li><a href="{{hrefTo 'blog'}}">Blog</a></li>
        <li><a href="{{hrefTo 'contact'}}">Contact</a></li>

        {{#if isLoggedIn}}
        <li><a href="/dash" class="btn-login">My Dashboard</a></li>
        {{else}}
        <li><a href="{{hrefTo 'login'}}" class="btn-login">Login</a></li>
        {{/if}}
      </ul>
    </nav>

    <div class="menu-trigger"></div>
    <nav id="menu-mobile">
      <ul>
        <li><a href="{{hrefTo 'features'}}">Features</a></li>
        <li><a href="{{hrefTo 'works'}}">Works</a></li>
        <li><a href="{{hrefTo 'about'}}">About Us</a></li>
        <li><a href="{{hrefTo 'pricing'}}">Pricing</a></li>
        <li><a href="{{hrefTo 'styles'}}">Styles</a></li>
        <li><a href="{{hrefTo 'blog'}}">Blog</a></li>
        <li><a href="{{hrefTo 'contact'}}">Contact</a></li>
        <li><a href="{{hrefTo 'login'}}" class="login">Login</a></li>
      </ul>
    </nav>
  </div>
</div>