<div id="wrap">

	{{> home/nav.mustache}}

	<div id="main">Loading ...</div>


	<div id="footer">
		<div class="container">
			<div class="col">
				<h5>Main</h5>
				<ul>
					<li><a href="#" title="Start Here">Start Here</a></li>
					<li><a href="#" title="Portfolio">Portfolio</a></li>
					<li><a href="#" title="Meet US">Meet US</a></li>
					<li><a href="#" title="Blog">Blog</a></li>
					<li><a href="#" title="Contact">Contact</a></li>
				</ul>
			</div>
			<div class="col">
				<h5>Company</h5>
				<ul>
					<li><a href="#" title="Start Here">About</a></li>
					<li><a href="#" title="Portfolio">Help</a></li>
					<li><a href="#" title="Meet US">Support</a></li>
					<li><a href="#" title="Blog">Jobs</a></li>
					<li><a href="#" title="Contact">Directory</a></li>
				</ul>
			</div>
			<div class="col">
				<h5>One More</h5>
				<ul>
					<li><a href="#" title="Start Here">Meetsup</a></li>
					<li><a href="#" title="Portfolio">Handbook</a></li>
					<li><a href="#" title="Meet US">Privacy</a></li>
					<li><a href="#" title="Blog">API</a></li>
					<li><a href="#" title="Contact">Equipment</a></li>
				</ul>
			</div>
			<div class="col">
				<h5>One More</h5>
				<ul>
					<li><a href="#" title="Start Here">Meetsup</a></li>
					<li><a href="#" title="Portfolio">Handbook</a></li>
					<li><a href="#" title="Meet US">Privacy</a></li>
					<li><a href="#" title="Blog">API</a></li>
					<li><a href="#" title="Contact">Equipment</a></li>
				</ul>
			</div>
			<div class="right">
				<div class="social">
					<ul>
						<li><a href="#" class="twitter-ico">twitter</a></li>
						<li><a href="#" class="facebook-ico">facebook</a></li>
						<li><a href="#" class="vimeo-ico">vimeo</a></li>
					</ul>
				</div>
				<div class="copy">
					<p>@2013 Endeavour </p>
					<p><a href="#">Privacy Policy</a> <span></span> <a href="#">Terms of Service</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="gotop"><a href="#"></a></div>
</div>
