/* Regular Boxes */
div.account-balances .mini-box-center{
  height:116px;
  border:solid 3px white;
}
div.account-balances p.description{
  margin-bottom:0;
  font-size:14px;
  font-weight:500;
}
div.account-balances p.amount{
  margin-bottom:0;
  font-size:16px;
  font-weight:600;
}

/* Active Box */
div.account-balances .mini-box-center.active{
  border:solid 3px #23ae89;
}
div.account-balances .mini-box-center.active p.description{
  margin-bottom:0;
  font-size:14px;
  font-weight:600;
}
div.account-balances .mini-box-center.active p.amount{
  margin-bottom:0;
  font-size:16px;
  font-weight:700;
}



div.account-balances .bank-icon svg{
  margin-top:18px;
  margin-bottom:1px;
}
div.account-balances .pending-icon svg{
  margin-top:16px;
}
div.account-balances .reserved-icon svg{
  margin-top:18px;
  margin-bottom:2px;
}
div.account-balances .calendar-icon svg{
  margin-top:14px;
}