
/* Highlight the link when it's hovered unless it's active. */
#nav > li > a:hover{
	background:rgba(0, 0, 0, 0.06);
}

/* Highlight the pivot when it's hovered unless it's active. */
#nav > li:hover div.pivot-handle:hover{
	background:rgba(0, 0, 0, 0.06);
}

#nav > li div.pivot-handle {
	position: relative;
	display: block;
	float: left;
	width: 45px;
	height: 50px;
	margin-left:5px;
	line-height: 50px;
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	text-align: center;
	font-size: 15px;
	padding-left:6px;
	padding-right: 5px;

	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
/* When the pivot is open, flip the arrow over.
 * Only transition on transform property so that
 * the color animates with the text. The flip
 * needs to animate with the open/close of the
 * container. */
#nav > li div.pivot-handle i{
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;

	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	transform-origin: 100% 25px; /* half of height, flips vertically */
	/* color: #767676; */
}
/* Animate the pivot with .open */
#nav > li div.pivot-handle.open i{
	-moz-transform: rotateX(180deg);
	-webkit-transform:rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
#nav > li > div.pivot-handle:before {
	position: relative;
	z-index: 1;
}
