<div class="title blue">
	<div class="container">
		<h1>Blog</h1>
	</div>
</div>

<div id="blog">
	<div class="container">
		<article class="content">
			<div class="post">
				<h2><a href="blog-single.htm">Clarity of Expression</a></h2>

				<div class="meta_mob">
					<p class="author"><a href="#">Alex Baldini</a> on 14 Jan 2013</p>
					<p class="comment">15 comments</p>
					<p class="links">Permalink</p>
				</div>

				<p>Breathing can transform your life.</p>

				<p>If you feel stressed out and overwhelmed, breathe. It will calm you and release the tensions.</p>

				<p>If you are worried about something coming up, or caught up in
					something that already happened, breathe. It will bring you back to the
					present.<br>If you are discouraged and have forgotten your purpose in
					life, breathe. It will remind you about how precious life is, and that
					each breath in this life is a gift you need to appreciate. Make the most
					of this gift.
				</p>

				<nav class="buttons_mob">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>

				<p class="more-link">
					<a href="blog-single.htm">Read more...</a>
				</p>
			</div>
			<aside>
				<div class="meta">
					<p class="author"><a href="#">Alex Baldini</a> on 14 Jan 2013</p>
					<p class="comment">15 comments</p>
					<p class="links">Permalink</p>
				</div>
				<nav class="buttons">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>
			</aside>
		</article>
		<article class="content">
			<div class="post">
				<h2><a href="blog-single.htm">How to Get Startup Ideas</a></h2>

				<p><img src="home/images/gallery_pic8.jpg" title="" class="blog_img" /></p>

				<p>The way to get startup ideas is not to try to think of startup ideas. It's to look for problems, preferably problems you have yourself. </p>

				<p>The very best startup ideas tend to have three things in common: they're something the founders themselves want, that they themselves can build,
					and that few others realize are worth doing. Microsoft, Apple, Yahoo, Google, and Facebook all began this way.
				</p>

				<nav class="buttons_mob">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>

				<p class="more-link">
					<a href="blog-single.htm">Read more...</a>
				</p>
			</div>
			<aside>
				<div class="meta">
					<p class="author"><a href="#">Alex Baldini</a> on 14 Jan 2013</p>
					<p class="comment">15 comments</p>
					<p class="links">Permalink</p>
				</div>
				<nav class="buttons">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>
			</aside>
		</article>
		<article class="content">
			<div class="post">
				<h2><a href="blog-single.htm">Frighteningly Ambitious Startup Ideas</a></h2>

				<p><img src="home/images/gallery_pic10.jpg" title="" class="blog_img" /></p>

				<p>One of the more surprising things I've noticed while working on Y Combinator is how frightening the most ambitious startup ideas are.
					In this essay I'm going to demonstrate this phenomenon by describing some. Any one of them could make you a billionaire.
					That might sound like an attractive prospect, and yet when I describe these ideas you may notice you find yourself shrinking away from them.
				</p>

				<nav class="buttons_mob">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>

				<p class="more-link">
					<a href="blog-single.htm">Read more...</a>
				</p>
			</div>
			<aside>
				<div class="meta">
					<p class="author"><a href="#">Alex Baldini</a> on 14 Jan 2013</p>
					<p class="comment">15 comments</p>
					<p class="links">Permalink</p>
				</div>
				<nav class="buttons">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>
			</aside>
		</article>
		<article class="content">
			<div class="post">
				<h2><a href="blog-single.htm">Clarity of Expression</a></h2>

				<p>Breathing can transform your life.</p>

				<p>If you feel stressed out and overwhelmed, breathe. It will calm you and release the tensions.</p>

				<p>If you are worried about something coming up, or caught up in
					something that already happened, breathe. It will bring you back to the
					present.<br>If you are discouraged and have forgotten your purpose in
					life, breathe. It will remind you about how precious life is, and that
					each breath in this life is a gift you need to appreciate. Make the most
					of this gift.
				</p>

				<nav class="buttons_mob">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>

				<p class="more-link">
					<a href="blog-single.htm">Read more...</a>
				</p>
			</div>
			<aside>
				<div class="meta">
					<p class="author"><a href="#">Alex Baldini</a> on 14 Jan 2013</p>
					<p class="comment">15 comments</p>
					<p class="links">Permalink</p>
				</div>
				<nav class="buttons">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>
			</aside>
		</article>
		<article class="content">
			<div class="post">
				<h2><a href="blog-single.htm">What We Look for in Founders</a></h2>

				<p>This has turned out to be the most important quality in startup founders. We thought when we started Y Combinator that the most important
					quality would be intelligence. That's the myth in the Valley. And certainly you don't want founders to be stupid. But as long as you're over a
					certain threshold of intelligence, what matters most is determination. You're going to hit a lot of obstacles. You can't be the sort of person who gets
					demoralized easily.
				</p>

				<p>Bill Clerico and Rich Aberman of WePay are a good example. They're doing a finance startup, which means endless negotiations with big, bureaucratic companies.
					When you're starting a startup that depends on deals with big companies to exist, it often feels like they're trying to ignore you out of existence. But when Bill Clerico
					starts calling you, you may as well do what he asks, because he is not going away.
				</p>

				<nav class="buttons_mob">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>

				<p class="more-link">
					<a href="blog-single.htm">Read more...</a>
				</p>
			</div>
			<aside>
				<div class="meta">
					<p class="author"><a href="#">Alex Baldini</a> on 14 Jan 2013</p>
					<p class="comment">15 comments</p>
					<p class="links">Permalink</p>
				</div>
				<nav class="buttons">
					<a href="#" class="btn btn-silver">science</a>
					<a href="#" class="btn btn-silver">breathe</a>
					<a href="#" class="btn btn-silver">precious life</a>
				</nav>
			</aside>
		</article>
		<div class="older_post">
			<a href="#" class="btn btn-red">OLDER POSTS</a>
		</div>
	</div>
</div>
