right-sidebar .panel .panel-heading {
  height:42px;
  padding:0;
  margin:0;
  line-height:42px;
  position:relative;
}

right-selector button.btn {
  position:relative;
  background:none;
  border:solid 2px transparent;
  color:white;
  font-weight:600;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}
right-selector button.btn:focus,  right-selector button.btn:active, right-selector button.btn.active {
  color:white;
  border: solid 2px transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
right-selector button.btn:hover {
  color:white;
  border: solid 2px rgba(255,255,255,0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
}


#right-selector-menu {
  position:absolute;
  background:white;
  right:0;
  left:0;
  top:42px;
  margin:0;
  padding:0;
  color:#3A3A3A;
  list-style:none;
  text-align:left;
  line-height:50px;
  display:none;
}

#right-selector-menu > li {
  margin:0;
  position:relative;
  padding-left:10px;
  border-top:1px solid #e5e5e5;
}
#right-selector-menu > li > p {
  padding-left:10px;
  margin-left:40px;
  margin-right:50px;
  margin-bottom:0;
  height:50px;
  transition: all 0.2s ease-in-out;
  font-weight:600;
}
#right-selector-menu span:hover, #right-selector-menu p:hover, #right-selector-menu > li ul p:hover {
  background: rgba(0, 0, 0, 0.06);
  cursor:pointer;
}

#right-selector-menu > li ul {
  background:white;
  /*background:rgba(247, 247, 247, 1);*/
  position:relative;
  list-style:none;
  margin:0;
  padding:0;
}
#right-selector-menu > li ul p {
  padding-left: 10px;
  margin:0 50px 0 0;
  cursor:pointer;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


#right-selector-menu .set-default {
  color:#767676;
  right:0;
  top:0;
  position:absolute;
  height:50px;
  display:block;
  width:50px;
  text-align:center;
  padding:0;
  border-right:1px solid #e5e5e5;
  border-left:1px solid #e5e5e5;
  transition: all 0.2s ease-in-out;
}

#right-selector-menu .set-default:hover {
  color:black;
  background: rgba(0, 0, 0, 0.06);
}

#right-selector-menu .pivot {
  color:#767676;
  border-right:1px solid #e5e5e5;
  border-left:1px solid #e5e5e5;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  padding:0;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
#right-selector-menu .pivot:hover {
  color:black;
  background: rgba(0, 0, 0, 0.06);
}
#right-selector-menu ul {
  display:none;
}
#right-selector-menu > li{
  position:relative;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#right-selector-menu li.overview.open, #right-selector-menu li.overview:hover{
  background:rgba(46, 193, 204, 0.15);
}
#right-selector-menu li.accounts.open, #right-selector-menu li.accounts:hover{
  background:rgba(35, 174, 137, 0.15);
}
#right-selector-menu li.calendar.open, #right-selector-menu li.calendar:hover{
  background:rgba(255, 182, 28, 0.15);
}
#right-selector-menu li.budget.open, #right-selector-menu li.budget:hover{
  background:rgba(249, 142, 51, 0.15);
}
#right-selector-menu li.planning.open, #right-selector-menu li.planning:hover{
  background:rgba(233, 75, 59, 0.15);
}
#right-selector-menu li.contacts.open, #right-selector-menu li.contacts:hover{
  background:rgba(68, 157, 213, 0.15);
}
#right-selector-menu li.reports.open, #right-selector-menu li.reports:hover{
  background:rgba(28, 126, 187, 0.15);
}

#right-selector-menu ul li{
  position:relative;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


/* When the pivot is open, flip the arrow over.
 * Only transition on transform property so that
 * the color animates with the text. The flip
 * needs to animate with the open/close of the
 * container. */
#right-selector-menu .pivot i{
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transform-origin: 100% 24px; /* half of height, flips vertically */
  /* color: #767676; */
}
/* Animate the pivot with .open on the pivot handle */
#right-selector-menu li.open .pivot i{
  -moz-transform: rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
