
/* * * Right Sidebar * * */
right-sidebar .panel{
  border: 0;
}
right-sidebar .panel .panel-heading{
  text-transform:inherit;
}
right-sidebar .panel .panel-body{
  border: 0;
}
right-sidebar .panel .panel-heading.sidebar-selector{
  padding:3px 15px;
}
.btn-sidebar-selector{
  background: none;
  color:white;
  font-size: inherit;
  border: solid 1px rgba(255, 255, 255, 0.0);
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.btn-sidebar-selector:hover{
  background: rgba(0, 0, 0, 0.03);
  color:white;
  /*border: solid 1px rgba(0, 0, 0, 0.12);*/
  border: solid 1px rgba(255, 255, 255, 0.42);
  margin: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.btn-sidebar-selector.active{
  background: rgba(0, 0, 0, 0.23);
  color:white;
  border: solid 1px rgba(255, 255, 255, 0.42);
  margin: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  outline: thin dotted;
  outline-offset: -2px;
}
.sidebar-selector-menu{
  margin:0;
  padding:0;
  left:0;
  right:0;
  color:#292929;
  /*height:300px;*/
  background: rgb(254, 254, 254);
  list-style-type: none;
  position: absolute;
  display: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.sidebar-selector-menu li{
  position: relative;
  min-height: 50px;
  line-height: 50px;
  padding:0;
}
#right .sidebar-nav ul li > a{
  padding:0 0 0 15px;
}

.sidebar-selector-menu li .set-default{
  width:45px;
  text-align: center;
  position:absolute;
  left: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #e5e5e5;
}
.sidebar-selector-menu li .select-item{
  padding-left: 15px;
  position: absolute;
  left: 45px;
  right:0;
  text-align: left;
}
.sidebar-selector-menu li ul{
  clear: left;
  background: white;
  padding-left: 0;
  margin-left:0;
}
.sidebar-selector-menu li ul li a{
  margin-left:45px;
}
#right .sidebar-nav > li div.pivot-handle{
  margin-left:0;
}
