<div class="title red">
  <div class="container">
    <h1>Enjoy the show</h1>
  </div>
</div>

<div id="login">
  <div class="container">
    <div class="content">
      {{! <div class="button">
        <a href="#" class="btn btn-social btn-fb"><span></span>Connect</a><br>
        <a href="#" class="btn btn-social btn-twitter"><span></span>Connect</a>
      </div>
      <p>or</p> }}
      <div class="form">
        <form can-submit="login">

          <h4>Enter your email and password.</h4>

          <div class="signup-messages bg-danger">
            {{#if notVerified}}
              <p>That account has not been verified.  Please check your email and click the verification link.</p>
            {{/if}}
            {{#if invalidLogin}}
              <p>Email address or password incorrect. <button class="btn btn-link" can-click="resetPassword">Reset Password</button></p>
            {{/if}}
          </div>

          <input type="text" name="email" placeholder="Email" can-value="email">
          <input type="password" name="password" placeholder="Password" can-value="password">
          <span><a href="{{hrefTo 'forgot'}}">Forgot your password?</a></span><br>
          <input type="submit" value="Sign In" class="btn btn-black1">
          {{! <input type="checkbox" id="rememeberme" checked><label for="rememeberme">Remember me</label> }}

          <a href="{{hrefTo 'signup'}}" class="btn btn-block btn-link cancel" type="button">No account? Set one up.</a>
        </form>
      </div>
    </div>
  </div>
</div>
