<div class="title blue">
	<div class="container">
		<h1>About Us</h1>
	</div>
</div>

<div id="about">
	<div class="container">
		<div id="menu_tablet">
			<select id="menu_tab">
				<option value="aboutus.htm" selected>About us</option>
				<option value="team.htm">Our team</option>
				<option value="">Our clients</option>
				<option value="">Press</option>
				<option value="">Jobs &amp; careers</option>
				<option value="contact.htm">Contact</option>
				<option value="">Policy</option>
			</select>
		</div>
		<div class="content">
			<div class="entry">
				<h2>For a person of my generation, it pretty much goes without saying that <a href="#">Robert De Niro</a> is the finest screen actor of his. </h2>
				<div class="image"><img src="home/images/pic_c_1.png" alt="" /></div>
				<p>
					To be a movie-besotted adolescent in the ’70s and early ’80s was
					to experience, in real time and at an impressionable age, performances
					that would go on to become icons and monuments. ‘‘This kid doesn’t just
					act — he takes off into the vapors,’’ wrote Pauline Kael in her review
					of ‘‘<a href="#">Mean Streets</a>.’’ Not that there was anything airy or
					abstract about what he was doing, which was transforming himself —
					physically, vocally, psychologically — with each new role. And in the
					process, before our eyes, reinventing the art of acting.
				</p>
				<p>
					I confess, however, that it took all my professional discipline
					to resist squandering the time I spent with De Niro on a recent Saturday
					afternoon in a slack-jawed fanboy recitation of his greatest hits. Oh,
					my God, you’re Jake LaMotta! You’re Johnny Boy! You’re Travis Bickle! <a href="#">I’m talking to you</a>.</p>
					<blockquote>
						<p>
							You forget your dreams, ignore your family, suppress your
							feelings, neglect your friends, and forget to be happy. Errors of
							omission are a particularly dangerous type of mistake, because you make
							them by default.
						</p>
					</blockquote>
				<p>
					To the younger generation, though, he is most recognizably Jack
					Byrnes, Ben Stiller’s impossible father-in-law in the ‘‘Fockers’’
					franchise. And as the reliable heavy in a steady stream of action movies
					and crime dramas, some (but not all) of them quite good. It has become
					fashionable to suggest that De Niro’s best work is behind him. But
					nostalgia is a vice, and a survey of the last four decades of movie
					history reveals that De Niro has never slackened, diminished or gone
					away but has rather, year in and year out, amassed a body of work marked
					by a seriousness and attention to detail that was there from the start.
				</p>
			</div>
		</div>
	</div>

		<div id="questions_tablet">
			<div class="container">
				<div class="content">
					<p class="got_questions">Got any questions? <a href="#">Visit our help center</a> or <a href="#">contact us</a></p>
				</div>
			</div>
		</div>

	<div class="container">
		<div id="sidebar">
			<div class="menu">
				<ul>
					<li class="current"><a href="#">About us</a></li>
					<li><a href="team.htm">Our team</a></li>
					<li><a href="#">Our clients</a></li>
					<li><a href="#">Press</a></li>
					<li><a href="#">Jobs &amp; careers</a></li>
					<li><a href="contact.htm">Contact</a></li>
					<li><a href="#">Policy</a></li>
				</ul>
			</div>
			<div class="cnt">
				<h3>Twitter feed</h3>
				<ul>
					<li>
						<p>Our house is a building site. Kitchen floor coming up tomorrow. Whole family basically living in a couple of rooms.</p>
						<span>Dec 25</span>
					</li>
					<li>
						<p>This Bellawood Flooring TV ad is really well done. Clear, direct, and hits all the right notes: <a href="http://t.co/TGBzpgw4" class="link">http://t.co/TGBzpgw4</a></p>
						<span>Dec 25</span>
					</li>
					<li>
						<p>Whole family basically living in a couple of rooms.</p>
						<span>Dec 25</span>
					</li>
				</ul>
				<div class="button"><a href="#" class="btn btn-blue btn-twitter"><span></span>Follow Us</a></div>
			</div>
			<div class="form">
				<h3>Invite Friends</h3>
				<form action="#">
					<input class="email" placeholder="mail@example.com" type="text">
					<input class="btn btn-blue" value="Invite" type="submit">
				</form>
			</div>
		</div>
	</div>
</div>

<div id="questions">
	<div class="container">
		<div class="content">
			<p class="got_questions">Got any questions? <a href="#">Visit our help center</a> or <a href="#">contact us</a></p>
		</div>
	</div>
</div>
