<div class="title blue">
	<div class="container">
		<h1>Enjoy the show</h1>
	</div>
</div>

<div id="styles">
	<div class="container">
		<div class="block">
			<h3><a href="">buttons</a></h3>
			<p>
				<a href="#" class="btn btn-blue">Action</a>
				<a href="#" class="btn btn-green">Action</a>
				<a href="#" class="btn btn-blue btn-twitter"><span></span>Action</a>
				<a href="#" class="btn btn-green btn-twitter"><span></span>Action</a>
				<a href="#" class="btn btn-red">Action</a>
				<a href="#" class="btn btn-trans-black">Action</a>
				<a href="#" class="btn btn-black">Action</a>
			</p>
			<p>
				<a href="#" class="btn-big btn-blue"><span></span>Show more images</a>
				<a href="#" class="btn-big btn-blue"><span></span>Just Do It button</a>
			</p>
			<p>
				<a href="#" class="btn-do btn-white"><span></span>Do it now</a>
			</p>
			<p>
				<a href="#" class="btn btn-social btn-fb"><span></span>Connect</a>
				<a href="#" class="btn btn-social btn-twitter"><span></span>Connect</a>
			</p>
		</div>
		<div class="block">
			<h3><a href="#">links</a></h3>
			<p>
				All links are blue and underlined on mouseover. Headers on Blog are dark but they are links. Hover effects shown on <span>07_blog.psd</span>
			</p>
			<p>
				<a href="#" class="link">Donec metus leo, elementum at ultrices ac, dapibus at justo. </a>
			</p>
			<p>
				<a href="#" class="link">Donec metus leo, elementum at ultrices ac, dapibus at justo. </a>
			</p>
		</div>
		<div class="block">
			<h3><a href="#">forms</a></h3>
			<p>
				<form method="post" action="#" class="form">
					<input type="text" name="email" placeholder="Email" class="email">
					<input type="password" name="email" placeholder="Password" class="password">
				</form>
			</p>
			<p>
				<form method="post" action="#" class="form2">
					<input type="text" name="password" placeholder="Email" class="email">
					<input type="password" name="email" placeholder="Password" class="password">
				</form>
			</p>
		</div>
		<div class="block">
			<h3><a href="#">tabs</a></h3>
			<div class="tabs">
				<nav class="tabs-nav">
					<a class="active" href="#">Tab 1</a>
					<a href="#">Tab 2</a>
					<a href="#">Tab 3</a>
				</nav>
				<div class="tabs-cnt">
					<div style="display: block;" class="tab">
						<p>
							Donec metus leo, elementum at ultrices ac, dapibus at justo.
							Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
							adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
							molestie non dapibus ac, fermentum vitae felis. Donec metus leo,
							elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit
							dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et,
							rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum
							vitae felis
						</p>
					</div>

					<div style="display: none;" class="tab">
						<p>
							2 Donec metus leo, elementum at ultrices ac, dapibus at justo.
							Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
							adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
							molestie non dapibus ac, fermentum vitae felis. Donec metus leo,
							elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit
							dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et,
							rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum
							vitae felis
						</p>
						<p>
							2 Donec metus leo, elementum at ultrices ac, dapibus at justo.
							Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
							adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
							molestie non dapibus ac, fermentum vitae felis. Donec metus leo,
							elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit
							dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et,
							rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum
							vitae felis
						</p>
					</div>

					<div style="display: none;" class="tab">
						<p>
							3 Donec metus leo, elementum at ultrices ac, dapibus at justo.
							Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
							adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
							molestie non dapibus ac, fermentum vitae felis. Donec metus leo,
							elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit
							dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et,
							rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum
							vitae felis
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="block">
			<h3><a href="#">toggles</a></h3>
			<div class="accordion">
				<ul>
					<li>
						<h6><span></span>Title 1</h6>
						<div class="acc-cnt">
							<p>
								Donec metus leo, elementum at ultrices ac, dapibus at justo.
								Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
								adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
								molestie non dapibus ac, fermentum vitae felis. Donec metus leo,
								elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit
								dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et,
								rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum
								vitae felis
							</p>
						</div>
					</li>
					<li>
						<h6><span></span>Title 2</h6>
						<div class="acc-cnt">
							<p>
								Donec metus leo, elementum at ultrices ac, dapibus at justo.
								Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
								adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
								molestie non dapibus ac, fermentum vitae felis. Donec metus leo,
								elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit
								dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et,
								rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum
								vitae felis
							</p>
						</div>
					</li>
					<li>
						<h6><span></span>Title 3</h6>
						<div class="acc-cnt">
							<p>
								Donec metus leo, elementum at ultrices ac, dapibus at justo.
								Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
								adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
								molestie non dapibus ac, fermentum vitae felis. Donec metus leo,
								elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit
								dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et,
								rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum
								vitae felis
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="block">
			<h3><a href="#">alerts</a></h3>
			<div class="cols">
				<a href="#" class="alert alert-orange">Yes, you did it!</a>
				<a href="#" class="alert alert-blue">Yes, you did it!</a>
				<a href="#" class="alert alert-pink">Yes, you did it!</a>
			</div>
			<div class="cols">
				<a href="#" class="alert alert-white">Yes, you did it!</a>
				<a href="#" class="alert alert-grey">Yes, you did it!</a>
				<a href="#" class="alert alert-green">Yes, you did it!</a>
			</div>
		</div>
		<div class="block">
			<h3><a href="#">columns</a></h3>
			<div class="grid grid-2">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-2 last-col">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-3">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-3">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-3 last-col">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-4">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-4">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-4">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-4 last-col">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-6">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-6">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-6">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-6">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-6">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid grid-6 last-col">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
			<div class="grid last-col">
				<p>
					Donec metus leo, elementum at ultrices ac, dapibus at justo.
					Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula,
					adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus,
					molestie non dapibus ac, fermentum vitae felis
				</p>
			</div>
		</div>
	</div>
</div>