.budget-bar .name{
	padding-left:12px;
}

section.budget-panel{
	/*background:none;*/
	/*box-shadow: none;*/
	/*border:none;*/
	border-radius: 22px;
}

div.budget-bar{
	border-radius: 22px;
}

/* BUDGET */
.budget-bar.income{
	/*background: #1c7ebb;*/
	color:white;
	background-image: -o-linear-gradient(-90deg, #3677F7 0%, #0048E2 100%);
	background-image: -moz-linear-gradient(-90deg, #3677F7 0%, #0048E2 100%);
	background-image: -webkit-linear-gradient(-90deg, #3677F7 0%, #0048E2 100%);
	background-image: -ms-linear-gradient(-90deg, #3677F7 0%, #0048E2 100%);
	background-image: linear-gradient(-180deg, #3677F7 0%, #0048E2 100%);
}
.budget-bar.spending{
	/*background: #f98e33;*/
	color:white;
	background-image: -o-linear-gradient(-90deg, #FF9F48 0%, #F6802E 100%);
	background-image: -moz-linear-gradient(-90deg, #FF9F48 0%, #F6802E 100%);
	background-image: -webkit-linear-gradient(-90deg, #FF9F48 0%, #F6802E 100%);
	background-image: -ms-linear-gradient(-90deg, #FF9F48 0%, #F6802E 100%);
	background-image: linear-gradient(-180deg, #FF9F48 0%, #F6802E 100%);
}
.budget-bar.bills{
	/*background: #23ae89;*/
	color:white;
	background-image: -o-linear-gradient(-90deg, #00A23E 0%, #008E29 100%);
	background-image: -moz-linear-gradient(-90deg, #00A23E 0%, #008E29 100%);
	background-image: -webkit-linear-gradient(-90deg, #00A23E 0%, #008E29 100%);
	background-image: -ms-linear-gradient(-90deg, #00A23E 0%, #008E29 100%);
	background-image: linear-gradient(-180deg, #00A23E 0%, #008E29 100%);
}
.budget-bar.debt{
	/*background: #153B5A;*/
	color:white;
	background-image: -o-linear-gradient(-90deg, #153B5A 0%, #002546 100%);
	background-image: -moz-linear-gradient(-90deg, #153B5A 0%, #002546 100%);
	background-image: -webkit-linear-gradient(-90deg, #153B5A 0%, #002546 100%);
	background-image: -ms-linear-gradient(-90deg, #153B5A 0%, #002546 100%);
	background-image: linear-gradient(-180deg, #153B5A 0%, #002546 100%);
}
.budget-bar.savings{
	/*background: #6a55c2;*/
	color:white;
	background-image: -o-linear-gradient(-90deg, #962BB6 0%, #7F00A3 100%);
	background-image: -moz-linear-gradient(-90deg, #962BB6 0%, #7F00A3 100%);
	background-image: -webkit-linear-gradient(-90deg, #962BB6 0%, #7F00A3 100%);
	background-image: -ms-linear-gradient(-90deg, #962BB6 0%, #7F00A3 100%);
	background-image: linear-gradient(-180deg, #962BB6 0%, #7F00A3 100%);
}
