	<div id="slider">
		<div class="fullwidthbanner-container">
			<div class="fullwidthabnner">
				<ul>


					<!-- BOXFADE -->
					<li data-transition="boxfade" data-slotamount="6" data-masterspeed="1000">
						<img src="home/images/slide1.png" />
						<div class="caption sfb big_white" data-x="15" data-y="105" data-speed="900" data-start="300" data-easing="easeOutBack">'A few strong instincts <br />and a few plain rules <br />suffice us.'</div>
						<div class="caption sfb small_text" data-x="15" data-y="270" data-speed="900" data-start="300" data-easing="easeOutBack">~Ralph Waldo Emerson</div>
						<div class="caption sfb" data-x="15" data-y="320" data-speed="900" data-start="300" data-easing="easeOutBack"><img src="home/images/line.png" width="400" height="1" /></div>
						<div class="caption sfb" data-x="450" data-y="115" data-speed="900" data-start="300" data-easing="easeOutBack"><img src="home/images/slide_image1.png" width="500" height="288" /></div>
						<div class="caption sfb" data-x="15" data-y="370" data-speed="900" data-start="300" data-easing="easeOutBack"><a href="#" target="_blank" class="btn btn-red">Free trial</a></div>
						<div class="caption sfb" data-x="155" data-y="370" data-speed="900" data-start="300" data-easing="easeOutBack"><a href="#" target="_blank" class="btn btn-trans-white">Learn more</a></div>
					</li>

					<!-- SLIDE LEFT -->
					<li data-transition="fade" data-slotamount="6" data-masterspeed="1000">
						<img src="home/images/slide2.png" />
                            <div class="caption lfr very_large_text" data-x="15" data-y="140" data-speed="900" data-start="500" data-easing="easeOutExpo">A brief guide to life</div>
						<div class="caption lfr medium_text" data-x="15" data-y="230" data-speed="900" data-start="500" data-easing="easeOutExpo">Life can be ridiculously complicated,  <br />
							if you let it.</div>
                            <div class="caption lfr" data-x="15" data-y="360" data-speed="900" data-start="500" data-easing="easeOutExpo"><a href="#" target="_blank" class="btn btn-red">Go Slowly</a></div>
					</li>


					<!-- SLOTFADE HORIZONTAL -->
					<li data-transition="slotfade-horizontal" data-slotamount="20" data-masterspeed="1000">
						<img src="home/images/slide3.png" />
						<div class="caption lft large_text" data-x="420" data-y="90" data-speed="1200" data-start="800" data-easing="easeOutBack">'I never found the
							<br />companion that was <br />so companionable as <br />solitude. ’</div>
						<div class="caption lft small_text" data-x="430" data-y="320" data-speed="1200" data-start="800" data-easing="easeOutBack">~Henry David Thoreau</div>
						<div class="caption lft" data-x="420" data-y="360" data-speed="1200" data-start="800" data-easing="easeOutBack"><img src="home/images/line.png" width="400" height="1" /></div>
                            <div class="caption lft" data-x="420" data-y="400" data-speed="1200" data-start="800" data-easing="easeOutBack"><a href="#" target="_blank" class="btn btn-trans-white">Learn more</a></div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
								<!-- MAIN IMAGE -->
								<img src="home/images/video_forest.jpg"  alt="video_forest"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption tp-fade fadeout fullscreenvideo"
									data-x="0"
									data-y="0"
									data-speed="1000"
									data-start="1100"
									data-easing="Power4.easeOut"
									data-endspeed="1500"
									data-endeasing="Power4.easeIn"
									data-autoplay="true"
									data-autoplayonlyfirsttime="false"
									data-nextslideatend="true"
									data-forceCover="1"
									data-dottedoverlay="twoxtwo"
									data-aspectratio="16:9"
									data-forcerewind="on"
									style="z-index: 2">


									 <video class="video-js vjs-default-skin" preload="none" width="100%" height="100%"
									poster='home/images/video_forest.jpg' data-setup="{}">
									<source src='http://goodwebtheme.com/previewvideo/forest_edit.mp4' type='video/mp4' />
									<source src='http://goodwebtheme.com/previewvideo/forest_edit.webm' type='video/webm' />
									<source src='http://goodwebtheme.com/previewvideo/forest_edit.ogv' type='video/ogg' />
									</video>

								</div>

								<div class="caption lft large_text" data-x="420" data-y="90" data-speed="1200" data-start="800" data-easing="easeOutBack" style="z-index: 9">'I never found the
									<br />companion that was <br />so companionable as <br />solitude. ’</div>
								<div class="caption lft small_text" data-x="430" data-y="320" data-speed="1200" data-start="800" data-easing="easeOutBack" style="z-index: 9">~Henry David Thoreau</div>
								<div class="caption lft" data-x="420" data-y="360" data-speed="1200" data-start="800" data-easing="easeOutBack" style="z-index: 9"><img src="home/images/line.png" width="400" height="1" /></div>
								<div class="caption lft" data-x="420" data-y="400" data-speed="1200" data-start="800" data-easing="easeOutBack" style="z-index: 9"><a href="#" target="_blank" class="btn btn-trans-white">Learn more</a></div>



					</li>

				</ul>

			</div>
		</div>
	</div>

	<div id="painting">
		<div class="container">
			<div class="iphone">
				<img src="home/images/iphone.png" title="iphone" />
			</div>
			<div class="content">
				<h1>You want to know how to paint a perfect painting?</h1>
				<p>It's easy. Make yourself perfect and then just paint naturally.</p>

				<div class="first">
					<img src="home/images/video.png" title="video" />
					<h3>Problems</h3>
					<span>Why is it so important to work on a problem you have? Among other things, it ensures the problem really exists.</span>
				</div>
				<div>
					<img src="home/images/bell.png" title="bell" />
					<h3>Well</h3>
					<span>When a startup launches, there have to be at least some users who really need what they're making, who want it urgently.</span>
				</div>
			</div>
		</div>
	</div>

	<div id="future">
		<div class="container">
			<div class="content">
				<h1>Live in the future and build what seems interesting.</h1>
				<p>When something is described as a toy, that means it has everything an idea needs except being important.</p>
				<div class="first">
					<img src="home/images/video.png" title="video" />
					<h3>It's cool</h3>
					<span>But if you're living in the future and you build something cool that users love, it may matter more than outsid-ers think.</span>
				</div>
				<div>
					<img src="home/images/bell.png" title="bell" />
					<h3>Users love it</h3>
					<span>Microcomputers seemed like toys when Apple and Microsoft started working on them.</span>
				</div>
			</div>
			<div class="future_slider">
				<img src="home/images/future_slider.png" title="slider" />
			</div>
		</div>
	</div>

	<div id="gallery">
		<div class="container">
			<h1> 
				A crowded market is actually a good sign
			</h1>
			<p class="text">
				Because it means both that there's demand and that none of the existing solutions are good enough.
				A startup can't hope to enter a market that's obviously big and yet in which they have no competitors.
			</p>
			<div id="gallery_tabs1">
				<nav class="tabs">
						<a href="#" title="America" class="tabs_1">America</a>
						<a href="#" title="Europe" class="tabs_2">Europe</a>
						<a href="#" title="Asia" class="tabs_3">Asia</a>
				</nav>
				<nav class="tabs_mob">
						<a href="#" title="America" class="tabs_1_mob">America</a>
						<a href="#" title="Europe" class="tabs_2_mob">Europe</a>
						<a href="#" title="Asia" class="tabs_3_mob">Asia</a>
				</nav>
				<div class="tabs-content">
					<div style="display: block;" class="tab">
						<div class="gallery_main_horz">
							<div class="view1 view-first">
								<a class="lightbox" rel="1" href="home/images/gallery_pic1.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic1.jpg" title="You want to know how to paint a perfect painting?." height="630" /></a>
								<div class="mask">
									<a href="#" class="ico-zoom" rel="1"></a>
									<p>You want to know how to paint a perfect painting?.</p>
								</div>
							</div>
						</div>
						<div class="gallery_main_horz">
							<div class="gallery_tabs_vert">
								<div class="view2 view-first">
									<a class="lightbox" rel="1" href="home/images/gallery_pic2.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic2.jpg" title="" /></a>
									<div class="mask">
										<a href="#" class="ico-zoom" rel="1"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
							<div class="gallery_tabs_vert">
								<div class="gallery_tabs_horz">
									<div class="view3 view-first">
										<a class="lightbox" rel="1" href="home/images/gallery_pic3.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic3.jpg" title="" width="270" /></a>
										<div class="mask">
											<a href="#" title="" class="ico-zoom" rel="1"></a>
											<p>You want to know how to paint a perfect painting?.</p>
										</div>
									</div>
								</div>
								<div class="gallery_tabs_horz">
									<div class="view3 view-first">
										<a class="lightbox" rel="1" href="home/images/gallery_pic4.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic4.jpg" title="" /></a>
										<div class="mask">
											<a href="#" title="" class="ico-zoom" rel="1"></a>
											<p>You want to know how to paint a perfect painting?.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;" class="tab">
						<div class="gallery_main_horz">
							<div class="view1 view-first">
								<a class="lightbox" rel="2" href="home/images/gallery_pic5.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic5.jpg" title="You want to know how to paint a perfect painting?." height="630" /></a>
								<div class="mask">
									<a href="#" class="ico-zoom" rel="2"></a>
									<p>You want to know how to paint a perfect painting?.</p>
								</div>
							</div>
						</div>
						<div class="gallery_main_horz">
							<div class="gallery_tabs_vert">
								<div class="view2 view-first">
									<a class="lightbox" rel="2" href="home/images/gallery_pic6.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic6.jpg" title="" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom" rel="2"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
							<div class="gallery_tabs_vert">
								<div class="gallery_tabs_horz">
									<div class="view3 view-first">
										<a class="lightbox" rel="2" href="home/images/gallery_pic7.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic7.jpg" title="" /></a>
										<div class="mask">
											<a href="#" title="" class="ico-zoom" rel="2"></a>
											<p>You want to know how to paint a perfect painting?.</p>
										</div>
									</div>
								</div>
								<div class="gallery_tabs_horz">
									<div class="view3 view-first">
										<a class="lightbox" rel="2" href="home/images/gallery_pic8.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic8.jpg" title="" /></a>
										<div class="mask">
											<a href="#" title="" class="ico-zoom" rel="2"></a>
											<p>You want to know how to paint a perfect painting?.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;" class="tab">
						<div class="gallery_main_horz">
							<div class="view1 view-first">
								<a class="lightbox" rel="3" href="home/images/gallery_pic9.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic9.jpg" title="You want to know how to paint a perfect painting?." height="630" /></a>
								<div class="mask">
									<a href="#" class="ico-zoom" rel="3"></a>
									<p>You want to know how to paint a perfect painting?.</p>
								</div>
							</div>
						</div>
						<div class="gallery_main_horz">
							<div class="gallery_tabs_vert">
								<div class="view2 view-first">
									<a class="lightbox" rel="3" href="home/images/gallery_pic10.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic10.jpg" title="" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom" rel="3"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
							<div class="gallery_tabs_vert">
								<div class="gallery_tabs_horz">
									<div class="view3 view-first">
										<a class="lightbox" rel="3" href="home/images/gallery_pic11.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic11.jpg" title="" /></a>
										<div class="mask">
											<a href="#" title="" class="ico-zoom" rel="3"></a>
											<p>You want to know how to paint a perfect painting?.</p>
										</div>
									</div>
								</div>
								<div class="gallery_tabs_horz">
									<div class="view3 view-first">
										<a class="lightbox" rel="3" href="home/images/gallery_pic12.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic12.jpg" title="" /></a>
										<div class="mask">
											<a href="#" title="" class="ico-zoom" rel="3"></a>
											<p>You want to know how to paint a perfect painting?.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="showimages">
				<a href="gallery.htm" class="btn-big btn-blue"><span></span>Show more images</a>
			</div>
		</div>
	</div>

	<div id="macbook">
		<div class="container">
			<img src="home/images/macbook.png" title="Macbook" />
		</div>
	</div>

	<div id="letsgo" class="red">
		<div class="container">
			<div class="content">
				<h1>So, what do you say?</h1>
				<p>Live in the future and build what seems interesting. Strange as it sounds, that's the real recipe.</p>
				<div class="buttons">
					<a href="#" class="btn-lets btn-white">Lets go</a>
				</div>
			</div>
		</div>
	</div>
