<div class="title green">
	<div class="container">
		<h1>Reach out and say hello!</h1>
	</div>
</div>

<div id="contact">
	<div class="container">
		<div id="menu_tablet">
			<select id="menu_tab">
				<option value="aboutus.htm">About us</option>
				<option value="team.htm">Our team</option>
				<option value="">Our clients</option>
				<option value="">Press</option>
				<option value="">Jobs &amp; careers</option>
				<option value="contact.htm" selected>Contact</option>
				<option value="">Policy</option>
			</select>
		</div>
		<div class="content">
			<div class="entry">
				<div class="image">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96875.06052141947!2d-74.36939135023778!3d40.644310669347995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4485efb0c050d75f!2z0JLQsNGI0LjQvdCz0YLQvtC9INCg0L7Qug!5e0!3m2!1sru!2s!4v1392018727151" width="845" height="623" frameborder="0" style="border:0"></iframe>
				</div>
			</div>
			<div class="form">
				<h3>Contact form</h3>
				<form method="post" action="">
					<textarea name="message" rows="10" cols="55" placeholder="Message"></textarea>
					<input type="text" name="email" class="email" placeholder="Email">
					<input type="text" name="obam" class="obam" placeholder="Obam">
					<input type="submit" value="Send" class="btn btn-red">
				</form>
			</div>
			<div class="social">
				<h3>Twitter feed</h3>
				<ul>
					<li>
						<div><a href="#" class="twitter-ico">twitter</a></div>
						<span>Dec 25</span>
						<p>Our house is a building site. Literally. Kitchen floor coming up tomorrow. Whole family basically living in a couple of rooms.</p>
						<em>Dec 25</em>
					</li>
					<li>
						<div><a href="#" class="twitter-ico">twitter</a></div>
						<span>Dec 24</span>
						<p>This Bellawood Flooring TV ad is really well done. Clear, direct, and hits all the right notes: <br/><a href="http://t.co/TGBzpgw4" class="link">http://t.co/TGBzpgw4</a></p>
						<em>Dec 25</em>
					</li>
					<li>
						<div><a href="#" class="twitter-ico">twitter</a></div>
						<span>Dec 20</span>
						<p>A real treat: A 14-minute design and driving review of the ultra-rare Aston Martin One-77: <br/><a href="http://t.co/TyBzpgwQ" class="link">http://t.co/TyBzpgwQ</a></p>
						<em>Dec 25</em>
					</li>
				</ul>
				<div class="button"><a href="#" class="btn btn-blue btn-twitter"><span></span>Follow Us</a></div>
			</div>
		</div>

		<div id="sidebar">
			<div class="menu">
				<ul>
					<li><a href="aboutus.htm">About us</a></li>
					<li><a href="team.htm">Our team</a></li>
					<li><a href="#">Our clients</a></li>
					<li><a href="#">Press</a></li>
					<li><a href="#">Jobs &amp; careers</a></li>
					<li class="currentb"><a href="#">Contact</a></li>
					<li><a href="#">Policy</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
