<div class="title blue">
	<div class="container">
		<h1>Prices & Plans</h1>
	</div>
</div>

<div id="plan1">
	<div class="container">
		<div class="header">
			<div class="header-content">
				<p>Free for 30 days.</p>
				<span>After your trial ends, pick a plan that best fits your needs.</span>
			</div>
		</div>
		<div class="price-table">
			<div class="header-content">
				<div class="content">
					<div class="block">
						<header>
							<h3>Economy</h3>
							<h5>$9<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>10</strong> Small Cake</li>
								<li><strong>50</strong> Cups of Coffee</li>
								<li><strong>20</strong> Apples</li>
								<li><strong>Some</strong> Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn btn-black">Choose plan</a>
					</div>

					<div class="best-block">
						<header>
							<h3>Deluxe</h3>
							<h5>$15<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>70</strong> Small Cake</li>
								<li><strong>80</strong> Cups of Coffee</li>
								<li><strong>50</strong> Apples</li>
								<li><strong>Some</strong> more Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn btn-black">Choose plan</a>
					</div>

					<div class="block">
						<header>
							<h3>Business</h3>
							<h5>$30<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>500</strong> Small Cake</li>
								<li><strong>1000</strong> Cups of Coffee</li>
								<li><strong>700</strong> Apples</li>
								<li><strong>Unlimitted</strong> Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn btn-black">Choose plan</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="plan2">
	<div class="container">
		<section class="header">
			<div class="header-content">
				<p>Free for 30 days.</p>
				<span>After your trial ends, pick a plan that best fits your needs.</span>
			</div>
		</section>
		<section class="price-table">
			<div class="header-content">
				<section class="content">
					<div class="block">
						<header>
							<h3>Economy</h3>
							<h5>$9<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>10</strong> Small Cake</li>
								<li><strong>50</strong> Cups of Coffee</li>
								<li><strong>20</strong> Apples</li>
								<li><strong>Some</strong> Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn">Choose plan</a>
						<p>Free 30-day trial</p>
					</div>

					<div class="best-block">
						<header>
							<h3>Deluxe</h3>
							<h5>$15<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>70</strong> Small Cake</li>
								<li><strong>80</strong> Cups of Coffee</li>
								<li><strong>50</strong> Apples</li>
								<li><strong>Some</strong> more Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn">Choose plan</a>
						<p>Best price. Free 30-day trial</p>
					</div>

					<div class="block">
						<header>
							<h3>Business</h3>
							<h5>$30<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>500</strong> Small Cake</li>
								<li><strong>1000</strong> Cups of Coffee</li>
								<li><strong>700</strong> Apples</li>
								<li><strong>Unlimitted</strong> Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn">Choose plan</a>
						<p>Free 30-day trial</p>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>

<div id="plan3">
	<div class="container">
		<section class="header">
			<div class="header-content">
				<p>Free for 30 days.</p>
				<span>After your trial ends, pick a plan that best fits your needs.</span>
			</div>
		</section>
		<section class="price-table">
			<div class="header-content">
				<section class="content">
					<div class="block">
						<header>
							<h3>Economy</h3>
							<h5>$9<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>10</strong> Small Cake</li>
								<li><strong>50</strong> Cups of Coffee</li>
								<li><strong>20</strong> Apples</li>
								<li><strong>Some</strong> Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn btn-blue">Choose plan</a>
						<p>Free 30-day trial</p>
					</div>

					<div class="best-block">
						<header>
							<h3>Deluxe</h3>
							<h5>$15<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>70</strong> Small Cake</li>
								<li><strong>80</strong> Cups of Coffee</li>
								<li><strong>50</strong> Apples</li>
								<li><strong>Some</strong> more Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn">Choose plan</a>
						<p>Best price. Free 30-day trial</p>
					</div>

					<div class="block">
						<header>
							<h3>Business</h3>
							<h5>$30<span>/month</span></h5>
						</header>

						<div class="block-cnt">
							<ul>
								<li><strong>500</strong> Small Cake</li>
								<li><strong>1000</strong> Cups of Coffee</li>
								<li><strong>700</strong> Apples</li>
								<li><strong>Unlimitted</strong> Sugar</li>
								<li><strong>Unlimitted</strong> Milk</li>
							</ul>
						</div>

						<a href="#" class="btn btn-blue">Choose plan</a>
						<p>Free 30-day trial</p>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>
