.planning-heading-content{
  display: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:500;
}

.panel-planning .panel-heading planning-progress-bar{
  position:absolute;
  top:0;
  left:0;
  width:0;
  bottom:0;
  background: #FF988C;
  white-space: nowrap;
  overflow: hidden;
  z-index:1000;
}

.panel-planning .panel-heading.open planning-progress-bar{
  background: #E94B3B;
}


.panel-heading.open planning-progress-bar .hlink{
  color:white;
}
.panel-heading.open planning-progress-bar .pivot-handle{
  color:white;
}
.panel-heading.open .planning-heading-content .hlink{
  /*color: #A31F1F;*/
}

planning-progress-bar .panel-heading:hover a.hlink{
  color:white;
}
a.hlink{
  outline:none;
}
