html {
	overflow: hidden;
}

body{
	position: absolute;
	font-family: "Avenir Next";
  top:0;
	bottom:0px;
	left:0;
	right:0;
}
header{
	background: #1C2335;
	width: 100%;
	height: 115px;
	position: relative;
	z-index: 10;
}

header div.upper, header div.lower{
	position: absolute;
	right:0px;
	left:0px;
}
@media (min-width : 1080px){
	header div.upper, header div.lower{
		position: absolute;
		right:15px;
		left:15px;
	}
}

header div.upper{
	height:61px;

		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
}

header div.lower{
	bottom:0;
	height:54px;
	/*background: #00AABB;*/
	background: #2ec1cc;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
header div.lower.large{
	height: 85px;
	position:
}

#brand{
	position: absolute;
	width:290px;
	height: 44px;
	padding-left:10px;
	top: 10px;
	margin: auto 0px;
	color:#EFEFEF;
	line-height:38px;
	text-transform: uppercase;
	overflow: hidden;
	line-height: 44px;
	font-size: 20px;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
@media (min-width: 1080px){
	#brand{
		padding-left:15px;
	}
}
#brand span{
	display: inline-block;
	padding-left: 5px;
	font-size: 20px;
	position: relative;
	top: 1px;
}
#brand img{
	position: relative;
	top: -1px;
}
#app-container{
	position: absolute;
	overflow: hidden;
  top: 115px;
  bottom: 0;
  left:0px;
  right:0px;
  background: #F2F2F2;
	-moz-box-shadow:    0px 0px 8px 1px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.50);
	box-shadow:         0px 0px 8px 1px rgba(0,0,0,0.50);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
@media (min-width: 1080px) {
	#app-container{
		left:15px;
		right:15px;
	}
}




#content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-overflow-scrolling: -blackberry-touch;
	/*-webkit-transition: none;*/
	/*-moz-transition: none;*/
	/*-o-transition: none;*/
	/*transition: none;*/
	-webkit-transition: all 0.3s, right 0.3s;
	transition: all, 0.3s, right 0.3s;
}
@media (min-width: 768px) {
	#content {
		top: 0px;
		width: auto;
		left: 265px;
		/* right: 265px; */
		padding-right:265px;

		overflow-x: hidden;
	}
}
@media (max-width: 1023px) {
	#content {
		padding-right:0px;
	}
}

#left {
	z-index: 11;
	position: absolute;
	top: 0px;
	bottom: 0;
	left: -265px;
	width: 265px;
	padding: 0;
	background-color: #fefefe;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-overflow-scrolling: -blackberry-touch;
	transition: left 0.3s, right 0.3s;
}
@media (min-width: 768px) {
	#left {
		left: 0;
	}
}

#left ul {
	padding-left: 0;
	list-style: none;
}

#right{
	display:block;
	z-index: 9;
	position: absolute;
	top: 0px;
	bottom: 0;
	right: -265px;
	width: 265px;
	padding: 0;
	background-color: #FAFAFA;
	overflow: scroll;

	/* background-color: #fefefe; */
	-webkit-overflow-scrolling: touch;
	-webkit-overflow-scrolling: -blackberry-touch;
	transition: left 0.3s, right 0.3s;
}
@media (min-width: 1024px) {
	#right {
		right: 0;
	}
}
#right{
	padding-left: 0;
	list-style: none;
}



/* PIVOTS */
pivot-handle{
	display: block;
}

/* New Transaction Indicator */
.reconciled-indicator{
	display:inline-block;
	background:#00AABB;
	height:11px;
	width:11px;
	border:solid 2px transparent;
	border-radius:10px;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.reconciled-indicator.old{
	opacity:0;
}