
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-ultralight.woff") format('woff');
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-thin.woff") format('woff');
  font-weight: 200;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-light.woff") format('woff');
  font-weight: 300;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-regular.woff") format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-medium.woff") format('woff');
  font-weight: 500;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-demi.woff") format('woff');
  font-weight: bold;
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-bold.woff") format('woff');
  font-weight: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/avenir-next-heavy.woff") format('woff');
  font-weight: 800;
}