<div class="title red">
	<div class="container">
		<h1>Features</h1>
	</div>
</div>

<div id="sticker">
	<div class="container">
		<ul>
			<li><a href="#" class="current">Overview</a></li>
			<li><a href="#">Video</a></li>
			<li><a href="#">Perfect painting</a></li>
			<li><a href="#">Future</a></li>
			<li><a href="#">Crowded market</a></li>
			<li><a href="#">This you need</a></li>
			<li><a href="#">Start</a></li>
		</ul>
		<span>
			This one sticks while scrolling down
		</span>
		<nav id="sticker-nav">
			<select name="stciker-nav-mob">
				<option value="1" class="selected">Overview</option>
				<option value="2">Perfect Painting</option>
				<option value="3">Future</option>
				<option value="4">Crowded market</option>
				<option value="5">Things you need</option>
				<option value="6">Start</option>
			</select>
		</nav>
	</div>
</div>

<div id="startup">
	<div class="container">
		<h3>How to Get Startup Ideas</h3>
		<p>
			The very best startup ideas tend to have three things in common: they're something the founders themselves want,
			that they themselves can build, and that few others realize are worth doing.
		</p>
		<div>
			<a href="#" class="btn-big btn-blue"><span></span>Just Do It button</a>
		</div>
		<img src="home/images/ipad.png" title="ipad" />
	</div>
</div>

<div id="video">
	<div class="container">
		<div class="content">
			<iframe src="http://www.youtube.com/embed/5HbYScltf1c" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div id="painting">
	<div class="container">
		<div class="iphone">
			<img src="home/images/iphone.png" title="iphone" />
		</div>
		<div class="content">
			<h1>You want to know how to paint a perfect painting?</h1>
			<p>It's easy. Make yourself perfect and then just paint naturally.</p>

			<div>
				<img src="home/images/video.png" title="video" />
				<h3>Problems</h3>
				<span>Why is it so important to work on a problem you have? Among other things, it ensures the problem really exists.</span>
			</div>
			<div>
				<img src="home/images/bell.png" title="bell" />
				<h3>Well</h3>
				<span>When a startup launches, there have to be at least some users who really need what they're making, who want it urgently.</span>
			</div>
		</div>
	</div>
</div>

<div id="future">
	<div class="container">
		<div class="content">
			<h1>Live in the future and build what seems interesting.</h1>
			<p>When something is described as a toy, that means it has everything an idea needs except being important.</p>
			<div>
				<img src="home/images/video.png" title="video" />
				<h3>It's cool</h3>
				<span>But if you're living in the future and you build something cool that users love, it may matter more than outsid-ers think.</span>
			</div>
			<div>
				<img src="home/images/bell.png" title="bell" />
				<h3>Users love it</h3>
				<span>Microcomputers seemed like toys when Apple and Microsoft started working on them.</span>
			</div>
		</div>
		<div class="future_slider">
				<img src="home/images/future_slider.png" title="slider" />
		</div>
	</div>
</div>

<div id="gallery">
	<div class="container">
		<h1> 
			A crowded market is actually a good sign
		</h1>
		<p class="text">
			Because it means both that there's demand and that none of the existing solutions are good enough.
			A startup can't hope to enter a market that's obviously big and yet in which they have no competitors.
		</p>
		<div id="gallery_tabs2">
			<nav class="tabs">
					<a href="#tabs-1" title="America" class="tabs_1">America</a>
					<a href="#tabs-2" title="Europe" class="tabs_2">Europe</a>
					<a href="#tabs-3" title="Asia" class="tabs_3">Asia</a>
			</nav>
			<nav class="tabs_mob">
					<a href="#tabs-1" title="America" class="tabs_1_mob">America</a>
					<a href="#tabs-2" title="Europe" class="tabs_2_mob">Europe</a>
					<a href="#tabs-3" title="Asia" class="tabs_3_mob">Asia</a>
			</nav>
			<div class="tabs-content">
				<div style="display: block;" class="tab">
					<div class="gallery_main_horz">
						<div class="view1 view-first">
							<a class="lightbox" rel="images1" href="home/images/gallery_pic1.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic1.jpg" title="You want to know how to paint a perfect painting?." height="630" /></a>
							<div class="mask">
								<a href="#" class="ico-zoom"></a>
								<p>You want to know how to paint a perfect painting?.</p>
							</div>
						</div>
					</div>
					<div class="gallery_main_horz">
						<div class="gallery_tabs_vert">
							<div class="view2 view-first">
								<a class="lightbox" rel="images1" href="home/images/gallery_pic2.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic2.jpg" title="" /></a>
								<div class="mask">
									<a href="#" title="" class="ico-zoom"></a>
									<p>You want to know how to paint a perfect painting?.</p>
								</div>
							</div>
						</div>
						<div class="gallery_tabs_vert">
							<div class="gallery_tabs_horz">
								<div class="view3 view-first">
									<a class="lightbox" rel="images1" href="home/images/gallery_pic3.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic3.jpg" title="" width="270" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
							<div class="gallery_tabs_horz">
								<div class="view3 view-first">
									<a class="lightbox" rel="images1" href="home/images/gallery_pic4.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic4.jpg" title="" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="display: none;" class="tab">
					<div class="gallery_main_horz">
						<div class="view1 view-first">
							<a class="lightbox" rel="images" href="home/images/gallery_pic5.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic5.jpg" title="You want to know how to paint a perfect painting?." height="630" /></a>
							<div class="mask">
								<a href="#" class="ico-zoom"></a>
								<p>You want to know how to paint a perfect painting?.</p>
							</div>
						</div>
					</div>
					<div class="gallery_main_horz">
						<div class="gallery_tabs_vert">
							<div class="view2 view-first">
								<a class="lightbox" rel="images" href="home/images/gallery_pic6.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic6.jpg" title="" /></a>
								<div class="mask">
									<a href="#" title="" class="ico-zoom"></a>
									<p>You want to know how to paint a perfect painting?.</p>
								</div>
							</div>
						</div>
						<div class="gallery_tabs_vert">
							<div class="gallery_tabs_horz">
								<div class="view3 view-first">
									<a class="lightbox" rel="images" href="home/images/gallery_pic7.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic7.jpg" title="" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
							<div class="gallery_tabs_horz">
								<div class="view3 view-first">
									<a class="lightbox" rel="images" href="home/images/gallery_pic8.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic8.jpg" title="" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="display: none;" class="tab">
					<div class="gallery_main_horz">
						<div class="view1 view-first">
							<a class="lightbox" rel="images" href="home/images/gallery_pic9.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic9.jpg" title="You want to know how to paint a perfect painting?." height="630" /></a>
							<div class="mask">
								<a href="#" class="ico-zoom"></a>
								<p>You want to know how to paint a perfect painting?.</p>
							</div>
						</div>
					</div>
					<div class="gallery_main_horz">
						<div class="gallery_tabs_vert">
							<div class="view2 view-first">
								<a class="lightbox" rel="images" href="home/images/gallery_pic10.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic10.jpg" title="" /></a>
								<div class="mask">
									<a href="#" title="" class="ico-zoom"></a>
									<p>You want to know how to paint a perfect painting?.</p>
								</div>
							</div>
						</div>
						<div class="gallery_tabs_vert">
							<div class="gallery_tabs_horz">
								<div class="view3 view-first">
									<a class="lightbox" rel="images" href="home/images/gallery_pic11.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic11.jpg" title="" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
							<div class="gallery_tabs_horz">
								<div class="view3 view-first">
									<a class="lightbox" rel="images" href="home/images/gallery_pic12.jpg" title="You want to know how to paint a perfect painting?." alt="It's easy. Make yourself perfect and then just paint naturally."><img src="home/images/gallery_pic12.jpg" title="" /></a>
									<div class="mask">
										<a href="#" title="" class="ico-zoom"></a>
										<p>You want to know how to paint a perfect painting?.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="showimages">
			<a href="gallery.htm" class="btn-big btn-blue"><span></span>Show more images</a>
		</div>
	</div>
</div>

<div id="macbook" class="red">
	<div class="container">
		<img src="home/images/macbook.png" title="Macbook" />
	</div>
</div>

<div id="letsgo" class="blue">
	<div class="container">
		<div class="content">
			<h1>So, what do you say?</h1>
			<p>Live in the future and build what seems interesting. Strange as it sounds, that's the real recipe.</p>
			<div class="buttons">
				<a href="#" class="btn-do btn-white"><span></span>Do it now</a>
			</div>
		</div>
	</div>
</div>
